ENVIRONMENT=
JWT_SECRET=
JWT_EXPIRE_MINUTES=
DATABASE_URL=
APP_NAME=
MASTER_API_KEY=
OPENAI_API_KEY=
RESEND_API_KEY=
FRONTEND_URL=
STRIPE_SECRET_KEY=
STRIPE_PUBLISHABLE_KEY=
STRIPE_WEBHOOK_SECRET=
KB_SETTINGS_VERSION=
S3_BUCKET=
S3_ACCESS_KEY=
S3_SECRET_KEY=
S3_ENDPOINT=
FIRECRAWL_API_KEY=
CELERY_BROKER_URL=
CELERY_RESULT_BACKEND=
ANTHROPIC_API_KEY=
PUBLIC_S3_BUCKET=
PYTHON_SANDBOX_TESTING_URL=