##########################
## Application Settings ##
##########################
APP_NAME=
ENVIRONMENT=


##########################
######## Security ########
##########################
JWT_EXPIRE_MINUTES=
JWT_SECRET=
MASTER_API_KEY=


##########################
######## Database ########
##########################
DATABASE_URL=


##########################
###### External API ######
##########################
ANTHROPIC_API_KEY=
DEEPSEEK_API_KEY=
FIRECRAWL_API_KEY=
OPENAI_API_KEY=
RESEND_API_KEY=


##########################
######## Frontend ########
##########################
FRONTEND_URL=


##########################
######## Storage #########
##########################
PUBLIC_S3_BUCKET=
S3_ACCESS_KEY=
S3_BUCKET=
S3_ENDPOINT=
S3_SECRET_KEY=


##########################
######## Payments ########
##########################
STRIPE_CANCEL_URL=
STRIPE_PUBLISHABLE_KEY=
STRIPE_SECRET_KEY=
STRIPE_SUCCESS_URL=
STRIPE_WEBHOOK_SECRET=


##########################
##### Knowledge Base #####
##########################
KB_SETTINGS_VERSION=


##########################
#### Background Tasks ####
##########################
CELERY_BROKER_URL=
CELERY_RESULT_BACKEND=


##########################
######## Testing #########
##########################
PYTHON_SANDBOX_TESTING_URL=


##########################
########## Misc ##########
##########################
PROMPT_BUFFER_SIZE=