ENVIRONMENT=test
DATABASE_URL=postgresql+asyncpg://postgres:postgres@localhost:5432/zyeta_test
APP_NAME=zyeta-test

ENVIRONMENT=test
DATABASE_URL=postgresql+asyncpg://testuser:testpassword@localhost:5432/testuser
APP_NAME=zyeta-test

# Auth
TEST_STYTCH_PROJECT_ID="project-test-"
TEST_STYTCH_SECRET="secret-test-"
TEST_STYTCH_ENVIRONMENT="test"
TEST_STYTCH_WEBHOOK_SECRET="whsec"
INTEGRATION_TEST=1